/* RESET */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

/* TYPOGRAPHY */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}

body {
  font-family: sans-serif;
}

/* STYLES */

body {
  padding: 0 1rem;
  color: white;
  background: url(img/clouds-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
}

#page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;
}

.page-title {
  margin-top: 30vh;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 0px 1px 8px #000000;
  transition: margin-top 0.4s ease-in-out;
}

.page-title.content-showing {
  margin-top: 25vh;
}

#city-input,
#submit-btn {
  padding: 0.5rem 1rem;
  color: #404040;
  border: none;
  border-radius: 0.1rem;
  box-shadow: 0px 1px 9px -1px #000000;
}

#city-input {
  background-color: rgba(255, 255, 255, 0.9);
  transition: backround-color 0.2s;
}

#city-input:focus {
  background-color: rgba(255, 255, 255, 1);
}

#submit-btn {
  padding: 0.5rem 0;
  width: 4rem;
  background-color: hsl(60, 100%, 50%);
  position: relative;
  cursor: pointer;
  opacity: 1;
  transition: width 0.4s 0.8s, opacity 0.3s 0.9s;
}

#submit-btn.collapsed {
  width: 0;
  opacity: 0;
  transition: width 0.4s, opacity 0.3s;
}

#submit-btn:hover {
  background-color: hsl(60, 100%, 40%);
}

.loading-spinner {
  display: none;
  margin-top: 2rem;
  width: 32px;
  height: 32px;
  border: 4px rgba(137, 137, 137, 0.7) solid;
  border-top: 4px white solid;
  border-radius: 50%;
  animation: spin 0.6s infinite linear;
}

.loading-spinner.visible {
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.results-box {
  display: none;
  opacity: 0;
  margin: 2rem auto 0;
  padding: 1rem 1.5rem;
  color: #404040;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.1rem;
  box-shadow: 0px 1px 9px -1px #000000;
}

.results-box.visible {
  display: block;
  opacity: 1;
}

#results-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -4rem;
  width: 80%;
  max-width: 640px;
  overflow-x: hidden;
  transform: scale(0.4);
}

#results-container.visible {
  top: 0;
  transform: scale(1);
  transition: opacity 0.7s 0.1s, transform 0.8s, top 0.8s;
}

#results-header {
  display: flex;
}

#results-body {
  display: grid;
  grid-template: 1.6fr 1fr / 1.3fr 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 3rem;
  grid-template-areas:
    'a b'
    'c b';
  padding: 2rem;
}

#results-overview {
  grid-area: a;
  display: flex;
  justify-content: center;
  align-items: center;
}

#results-times {
  grid-area: c;
  text-align: center;
}

#results-conditions {
  grid-area: b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.condition-wrapper {
  display: flex;
  align-items: center;
}

#icon-main {
  width: 6em;
  height: auto;
  margin-right: 1rem;
  filter: drop-shadow(0 0 1px #8d8d8d);
}

.icon-inline {
  width: 1.8rem;
  margin-right: 1rem;
}

#description {
  font-weight: bold;
}

#suntimes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

#suntimes-container .icon-inline:last-of-type {
  margin-left: 3rem;
}

#settings-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#settings-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #404040;
  text-shadow: 0px 1px 8px #000000;
  cursor: pointer;
  transition: transform 0.35s ease-in-out;
}

#settings-wrapper:hover #settings-icon {
  transform: rotate(240deg);
}

#settings-panel {
  display: inline-block;
  position: absolute;
  right: -225px;
  top: 0;
  bottom: 0;
  padding: 1rem 1.5rem;
  background-color: white;
  box-shadow: 0px 1px 9px -1px #000000;
  opacity: 0;
  transition: right 0.35s ease-in-out, opacity 0.23s ease-in-out;
}

#settings-wrapper:hover #settings-panel {
  right: 0;
  opacity: 1;
}

#settings-panel > * {
  margin-bottom: 1em;
}

#settings-panel label {
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}

.checkbox-hidden {
  display: none;
}

.toggle-pill {
  width: 2rem;
  height: 1.1rem;
  background-color: #404040;
  margin: 0 0.6em;
  border-radius: 0.6rem;
  position: relative;
}

.toggle-pill::after {
  content: '';
  width: 0.9rem;
  height: 0.9rem;
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease-out;
}

:checked + .toggle-pill::after {
  left: 1rem;
}

@media (max-width: 730px) {
  #results-body {
    grid-template: 0.9fr 1.7fr 1.1fr / 1fr;
    grid-template-areas:
      'a'
      'b'
      'c';
    padding: 1rem 0;
  }

  #results-times {
    align-self: center;
  }

  #results-conditions {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .condition-wrapper {
    width: 12em;
    margin-left: 10%;
  }

  .page-title.content-showing {
    margin-top: 15vh;
  }
}

@media (max-width: 640px) {
  .page-title.content-showing {
    margin-top: 5vh;
  }

  #results-container {
    width: 100%;
  }
}

@media (max-width: 530px) {
  .condition-wrapper {
    margin-left: 5%;
  }
}

@media (max-width: 486px) {
  .condition-wrapper {
    width: auto;
  }
}
