*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

/***************************************/

body {
  background: url(clouds-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-family: sans-serif;
  transition: background-image 0.5s ease-in-out;
  padding: 0 1rem;
}

#main-container {
  margin: 0 auto;
  max-width: 900px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 30vh;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 0px 1px 8px #000000;
  transition: margin-top 0.4s ease-in-out;
}

h1.showing {
  margin-top: 25vh;
}

#input,
button {
  border-radius: 0.1rem;
  padding: 0.5rem 1rem;
  border: none;
  color: #404040;
  box-shadow: 0px 1px 9px -1px #000000;
}

#input {
  background-color: rgba(255, 255, 255, 0.9);
  transition: backround-color 0.2s;
}

#input:focus {
  background-color: rgba(255, 255, 255, 1);
}

button {
  background-color: hsl(60, 100%, 50%);
  cursor: pointer;
  position: relative;
  padding: 0.5rem 0;
  width: 4rem;
  opacity: 1;
  transition: width 0.4s 0.8s, opacity 0.3s 0.9s;
}

button.collapsed {
  width: 0;
  opacity: 0;
  transition: width 0.4s, opacity 0.3s;
}

button:hover {
  background-color: hsl(60, 100%, 40%);
}

.spinner {
  display: none;
  margin-top: 2rem;
  width: 32px;
  height: 32px;
  border: 4px rgba(137, 137, 137, 0.7) solid;
  border-top: 4px white solid;
  border-radius: 50%;
  animation: spCircRot 0.6s infinite linear;
}

@keyframes spCircRot {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.spinner.visible {
  display: block;
}

.box {
  opacity: 0;
  display: none;
  margin: 2rem auto 0;
  color: #404040;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.1rem;
  padding: 1rem 1.5rem;
  box-shadow: 0px 1px 9px -1px #000000;
}

#display-box {
  display: flex;
  width: 80%;
  max-width: 640px;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  top: -4rem;
  transform: scale(0.4);
}

#heading-container {
  display: flex;
}

.box.visible {
  display: block;
  opacity: 1;
}

#display-box.visible {
  transform: scale(1);
  top: 0;
  transition: opacity 0.7s 0.1s, transform 0.8s, top 0.8s;
}

.weather-container {
  display: grid;
  grid-template: 1.6fr 1fr / 1.3fr 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 3rem;
  padding: 2rem;
  grid-template-areas:
    'a b'
    'c b';
}

.weather-container svg {
  width: 1.8rem;
  margin-right: 1rem;
}

#overview {
  grid-area: a;
  display: flex;
  align-items: center;
  justify-content: center;
}

#times {
  grid-area: c;
  text-align: center;
}

#details {
  grid-area: b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#icon-img {
  width: 6em;
  height: auto;
  filter: drop-shadow(0 0 1px #8d8d8d);
  margin-right: 1rem;
}

#desc_disp {
  font-weight: bold;
}

#suntimes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

#suntimes span + svg {
  margin-left: 3rem;
}

#details div {
  display: flex;
  align-items: center;
}

#settings-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#settings-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #404040;
  text-shadow: 0px 1px 8px #000000;
  cursor: pointer;
  transition: transform 0.35s ease-in-out;
}

#settings-wrapper:hover #settings-icon {
  transform: rotate(240deg);
}

#settings-panel {
  display: inline-block;
  position: absolute;
  right: -225px;
  background-color: white;
  opacity: 0;
  top: 0;
  bottom: 0;
  transition: right 0.35s ease-in-out, opacity 0.23s ease-in-out;
  box-shadow: 0px 1px 9px -1px #000000;
  padding: 1rem 1.5rem;
}

#settings-wrapper:hover #settings-panel {
  right: 0;
  opacity: 1;
}

#settings-panel > * {
  margin-bottom: 1em;
}

#settings-panel label {
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.label input {
  display: none;
}

.label div {
  width: 2rem;
  height: 1.1rem;
  background-color: #404040;
  margin: 0 0.6em;
  border-radius: 0.6rem;
  position: relative;
}

#mi-toggle + div::after {
  content: '';
  width: 0.9rem;
  height: 0.9rem;
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease-out;
}

#mi-toggle:checked + div::after {
  left: 1rem;
}

@media (max-width: 730px) {
  .weather-container {
    grid-template: 0.9fr 1.7fr 1.1fr / 1fr;
    grid-template-areas:
      'a'
      'b'
      'c';
    padding: 1rem 0;
  }

  #times {
    align-self: center;
  }

  #details {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  #details div {
    width: 12em;
    margin-left: 10%;
  }

  h1.showing {
    margin-top: 15vh;
  }
}

@media (max-width: 640px) {
  h1.showing {
    margin-top: 5vh;
  }

  #display-box {
    width: 100%;
  }
}

@media (max-width: 530px) {
  #details div {
    margin-left: 5%;
  }
}

@media (max-width: 486px) {
  #details div {
    width: auto;
  }
}
